.button {
    position: absolute;
    background: none;
    border: none;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
    z-index: 1001;
    user-select: none;
    transition: 0.2s ease;
  }
  
  .button:hover {
    color: var(--color-accent);
  }
  
  .close {
    top: 20px;
    right: 30px;
  }
  
  .prev {
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .next {
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  @media (max-width: 768px) {
    .close {
      top: 1rem;
      right: 1rem;
      font-size: 2rem;
    }
  
    .prev, .next {
      top: unset;
      bottom: 2rem;
      transform: none;
      font-size: 2rem;
    }
  
    .prev {
      left: 25%;
    }
  
    .next {
      right: 25%;
    }
  }
  